<h1>Log In</h1>

  <%= form_for(:session, url: '/login') do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>


    <%= f.submit 'Log In' %>
  <% end %>
  <%= link_to 'Manager Sign in with Github', '/auth/github' %><br><br>
