<h1>Manager Profile Below:</h1>
<h2>Name:<%= @manager.name %></h2>
<h2>Email:<%= @manager.email %></h2><br>

<h3>Shortcuts:</h3>
<%= link_to 'Edit Profile', edit_manager_path(@manager) %><br>
<%= link_to 'Create Client', new_client_path %><br>
<%= link_to 'Create Project', new_project_path %><br>
<button id="ShowClients">ShowClients</button> <!-- req 1 -->
  <div id="clients">
hello
  </div>

  <h4>Clients:</h4>
    <ul>
    <% @manager.clients.each do |client| %>
    <li><%= link_to client.name, client_path(client) %></li>
      <% end %>
    </ul>
