<%= link_to 'Log Out', '/logout', method: :delete %>

<h2><%= @manager.name %><h2>
  <h4>Clients:</h4>
  <ul>
    <% @manager.clients.each do |client| %>

        <li><%=link_to client.name, client_path(client) %></li>
          <ul>
            <% client.projects.each do |project| %>
              <li><%= link_to project.name, project_path(project)%></li>
            <% end %>
          </ul>
          <%end%>
      </ul>

      <%= form_for @project do |p| %>

      <%= p.label :name "Select Name" %><br>
      <%= p.text_field :name %><br>
      <%= p.collection_select :client_id, Client.all, :id, :name %>
      <%= p.collection_check_box :manager_id, Manger.all, :id, :name %>

      <%= p.label :complete, "Is the project complete?" %>
      <%= p.password_field :complete %>
      <%= p.submit, "Create Project" %>
      <%= end %>
