<h1>Create New Client Below:</h1>
<%= form_for @client do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<h3>Project Form</h3>
<%= f.fields_for :project do |p| %>
<%= p.label :name, 'Project Name:' %>
<%= p.text_field :name %><br>
<%= p.label :manager_id, 'Select Manager:'  %>
<%= p.collection_select :manager_id, Manager.all, :id, :name, include_blank: true %><br>
<%= p.label :complete, 'Is the project complete?' %>
<%= p.check_box :completed %><br><br>
<% end %>
<%= f.submit %>
<% end %>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
