<h1>Create New Client Below</h1>
<%= form_for @client do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<h3>Project Form</h3>
<%= f.fields_for :projects do |project_fields| %>
<%= project_fields.label :name, 'Project Name:' %>
<%= project_fields.text_field :name %><br>
<%= project_fields.hidden_field :client_id  %>
<%= project_fields.label :manager_id, 'Select Manager:'  %>
<%= project_fields.collection_select :manager_id, Manager.all, :id, :name, include_blank: true %><br>
<%= project_fields.label :complete, 'Is the project complete?' %>
<%= project_fields.select :completed, [['True', true], ['False', false]] %><br><br>
<% end %>
<%= f.submit %>
<% end %>

<div class="fields_with_errors">
  <% if flash[:message] %>
    <%= flash[:message] %>
  <% end %>
</div>
