<h1>Client Details Below:</h1>
  <%= link_to 'Back to Roster', clients_path %>
<h2><%= @client.name %></h2>
<% if session[:manager_id] %>
<%= link_to 'Create New Project', new_project_path %>
<%= link_to 'Edit Client', edit_client_path(@client) %>
<%end%>

  <h4>Completed Projects:</h4>
    <ul>

      <% @client.completed_projects.each do |project| %>
        <li> <%= link_to project.name, project_path(project) %> </li>
      <% end %>
    </ul>
    <h4>Uncompleted Projects:</h4>
      <ul>
        <% @client.uncompleted_projects.each do |project| %>
          <li> <%= link_to project.name, project_path(project) %> </li>
        <% end %>
      </ul>
