<body id="Client_Show">
  <h1>Client Details Below</h1>

<h2>Client Name:<div id="client_name" class="no-style"><%= @client.name %></div></h2>

<h3>Shortcuts:</h3>
<%= link_to 'Back to Roster', clients_path %><br>
<% if session[:manager_id] %>
<button id="Edit">Edit Client</button><br>
<%= link_to 'Create Project', new_client_path(@client) , :class => "button" %><br>
<%= link_to 'New Project', new_client_project_path(@client) %><br>
<%end%>

<button id="Create_Project">Create New Project</button>
  <div>
    <h4>Completed Projects:</h4>
      <ul>

        <% @client.completed_projects.each do |project| %>
          <li> <%= link_to project.name, client_project_path(@client, project) %> </li>
        <% end %>
      </ul>
      <h4>Uncompleted Projects:</h4>
        <ul>
          <% @client.uncompleted_projects.each do |project| %>
            <li> <%= link_to project.name, client_project_path(@client, project) %> </li>
          <% end %>
        </ul>
    </div>

</body>
