<h1>Client Details Below</h1>

<h2>Client Name: <%= @client.name %></h2>

<h3>Shortcuts:</h3>
  <%= link_to 'Back to Roster', clients_path %><br>
<% if session[:manager_id] %>
<%= link_to 'Edit Client', edit_client_path(@client) %><br>
<%= link_to 'New Project', new_client_project_path(@client) %>
<%end%>

  <h4>Completed Projects:</h4>
    <ul>

      <% @client.completed_projects.each do |project| %>
        <li> <%= link_to project.name, client_project_path(@client, project) %> </li>
      <% end %>
    </ul>
    <h4>Uncompleted Projects:</h4>
      <ul>
        <% @client.uncompleted_projects.each do |project| %>
          <li> <%= link_to project.name, client_project_path(@client, project) %> </li>
        <% end %>
      </ul>
