<h1> Create New Project Below: </h1>
<%= form_for @project do |p| %>

<%= p.label :name, 'Project Name:' %>
<%= p.text_field :name %><br>
<%= p.label :client_id, 'Select Client:'  %>
<%= p.collection_select :client_id, Client.all, :id, :name %><br>
<%= p.label :manager_id, 'Select Manager:'  %>
<%= p.collection_select :manager_id, Manager.all, :id, :name %><br>
<%= p.label :complete, 'Is the project complete?' %>
<%= p.check_box :completed %><br><br>

<h3> If Client does not exist, create one below: </h3>
<%= p.fields_for @client do |m| %>
<%= m.label :name, 'Client Name:'  %>
<%= m.text_field :name %><br>
<% end %>
<%= p.submit "Update Project" %>
<% end %>
