<h1>Editing <%= @project.name %></h1>

<%= form_for @project  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :complete, 'Project Complete?' %>
  <%= f.boolean :complete %>
  <br />

  <%= f.submit, 'Update Project' %>
<% end %>
