<h1>Project Details:</h1>

  Project Name: <%= @project.name %><br>
  Client Name: <%= @project.client.name %><br>
  Manager Name: <%= @project.manager.name %><br>
  Completed? <%= @project.completed %><br><br>

  <%= link_to "See #{@project.client.name}'s Project List", client_path(@project.client) %><br>

  <% if session[:manager_id] %>
  <%= link_to 'Edit Project', edit_project_path(@project) %><br>
  <%= link_to "Your Profile", manager_path(@project.manager) %>
  <% add next button for project request 2%>
  <%end%>
