<h1>Project Details:</h1>

  Project Name: <%= @project.name %><br>
  Client Name: <%= @project.client.name %><br>
  Manager Name: <%= @project.manager.name %><br>
  Completed? <%= @project.completed %><br><br>

  <%= button_to "See #{@project.client.name}'s Project List", client_path(@project.client), :method => :get %><br>

  <% if session[:manager_id] %>
  <%= button_to 'Edit Project', edit_project_path(@project), :method => :get %><br>
  <%= button_to "Your Profile", manager_path(@project.manager), :method => :get %><br>
  <button id="Next">Next Project</button>
  <%end%>
  <script>

  $(document).ready(function(){
    $("#Next").on("click", function(){
      var current_path = window.location.pathname;
      var client_id = current_path.split("/")[2];
      $.get("/clients/" + client_id + "/projects" ).done (function(projects) {
      debugger
      alert("The paragraph was clicked.");
      });
    });
  });
  </script>
