
<%= button_to "See #{@project.client.name}'s Project List", client_path(@project.client), :method => :get %>
<% if session[:manager_id] %>
<%= button_to 'Edit Project', edit_project_path(@project), :method => :get %>
<%= button_to "Your Profile", manager_path(@project.manager), :method => :get %>
<button id="Next">Next Project</button>
<%end%>

<h1>Project Details:</h1>
  Project Name: <%= @project.name %><br>
  Client Name: <%= @project.client.name %><br>
  Manager Name: <%= @project.manager.name %><br>
  Completed? <%= @project.completed %><br><br>



  <script>
  $(document).ready(function(){
    $("#Next").on("click", function(){
      var current_path = window.location.pathname;
      var client_id = current_path.split("/")[2];
      $.get("/clients/" + client_id + "/projects",).done (function(data) {
      debugger
      alert("The paragraph was clicked.");
      });
    });
  });
  </script>
