<!DOCTYPE html>
<html>
<head>
  <title>OmniauthLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if session[:manager_id] != nil %>
  <%= link_to  'Log Out', '/logout', method: :delete %>
  <%= link_to 'Home', '/' %>
  <%end%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
